In [1]:
# Dependencies

import os
import pandas as pd

In [2]:
# Import short interest csv file as dataframe

short_file = os.path.join('.', 'Resources', 'gme_shortinterest.csv')

short_interest_df = pd.read_csv(short_file)

short_interest_df.head()

,Date,open GME Price in USD,high GME Price in USD,low GME Price in USD,close GME Price in USD,GME Volume,Days to cover,Exchange Reported SI,Dividends,hidden
0,08-Feb-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16-Feb-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12-Mar-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15-May-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24-May-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Examine short interest dataframe

short_interest_df.count()

Date                      1599
open GME Price in USD     1529
high GME Price in USD     1529
low GME Price in USD      1529
close GME Price in USD    1529
GME Volume                1529
Days to cover              869
Exchange Reported SI        45
Dividends                    0
hidden                       1
dtype: int64

In [4]:
# Import Trade_halts_Historical.csv as dataframe

trade_file = os.path.join('.', 'Resources', 'Trade_halts_Historical.csv')

trade_df = pd.read_csv(trade_file)

trade_df.head()

,Halt Date,Halt Time,Symbol,Name,Exchange,Reason,Resume Date,NYSE Resume Time
0,01/29/2021,09:32:41,GME,GameStop Corp. Class A,NYSE,LULD pause,01/29/2021,09:37:47
1,01/28/2021,03:59:41,GME,GameStop Corp. Class A,NYSE,LULD pause,01/28/2021,04:00:02
2,01/28/2021,12:38:48,GME,GameStop Corp. Class A,NYSE,LULD pause,01/28/2021,12:43:51
3,01/28/2021,12:11:25,GME,GameStop Corp. Class A,NYSE,LULD pause,01/28/2021,12:16:33
4,01/28/2021,12:01:46,GME,GameStop Corp. Class A,NYSE,LULD pause,01/28/2021,12:06:49

In [6]:
# Examine trade dataframe

trade_df.count()

Halt Date           42
Halt Time           42
Symbol              42
Name                42
Exchange            42
Reason              42
Resume Date         42
NYSE Resume Time    42
dtype: int64

In [7]:
# Rename halt date column in trade_df

trade_df = trade_df.rename(columns={"Halt Date":"Date"})
trade_df.head()

,Date,Halt Time,Symbol,Name,Exchange,Reason,Resume Date,NYSE Resume Time
0,01/29/2021,09:32:41,GME,GameStop Corp. Class A,NYSE,LULD pause,01/29/2021,09:37:47
1,01/28/2021,03:59:41,GME,GameStop Corp. Class A,NYSE,LULD pause,01/28/2021,04:00:02
2,01/28/2021,12:38:48,GME,GameStop Corp. Class A,NYSE,LULD pause,01/28/2021,12:43:51
3,01/28/2021,12:11:25,GME,GameStop Corp. Class A,NYSE,LULD pause,01/28/2021,12:16:33
4,01/28/2021,12:01:46,GME,GameStop Corp. Class A,NYSE,LULD pause,01/28/2021,12:06:49

In [10]:
# Convert date format of both columns to be the same

short_interest_df["Date"] = pd.DataFrame(short_interest_df["Date"])
trade_df = pd.DataFrame(trade_df["Date"])

In [21]:
testing_df = short_interest_df["Date"].sort_values()
testing_df

97      01-Apr-15
349     01-Apr-16
1119    01-Apr-19
1381    01-Apr-20
433     01-Aug-16
          ...
1163    31-May-19
497     31-Oct-16
751     31-Oct-17
1012    31-Oct-18
1272    31-Oct-19
Name: Date, Length: 1599, dtype: object

In [11]:
# Outer merge of dataframes on date column
financial_merged_pd = pd.merge(short_interest_df, trade_df, on="Date", how="outer")

financial_merged_pd

,Date,open GME Price in USD,high GME Price in USD,low GME Price in USD,close GME Price in USD,GME Volume,Days to cover,Exchange Reported SI,Dividends,hidden
0,08-Feb-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16-Feb-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12-Mar-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15-May-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24-May-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1636,01/22/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1637,01/22/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1638,01/22/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1639,10/08/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1640,10/08/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
financial_merged_pd.count()

Date                      1641
open GME Price in USD     1529
high GME Price in USD     1529
low GME Price in USD      1529
close GME Price in USD    1529
GME Volume                1529
Days to cover              869
Exchange Reported SI        45
Dividends                    0
hidden                       1
dtype: int64

In [13]:
financial_merged_pd["Date"].value_counts()

01/28/2021    19
01/25/2021     9
01/26/2021     5
01/22/2021     3
01/27/2021     3
              ..
06-Feb-15      1
19-Dec-18      1
15-Mar-18      1
06-Jan-15      1
22-Jan-18      1
Name: Date, Length: 1606, dtype: int64

In [ ]:
# Cleaning - remove all NaN for now to see commonality