# GameStop

In [13]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from datetime import datetime, timedelta
import numpy as np
import os

In [14]:
# url = 'https://cloud.iexapis.com/stable/stock/GME/financials/5?token=sk_a6ef19bab2c5459093f4aaac416b6219&period=annual'
url = 'https://cloud.iexapis.com/stable/stock/GME/'
token = 'sk_a6ef19bab2c5459093f4aaac416b6219'
query_url = url + 'financials/5?token=' + token + '&period=annual'
print(requests.get(query_url))

<Response [200]>

## GameStop Financials

In [15]:
response = requests.get(query_url)
gme = response.json()

In [4]:
financials = gme['financials']
financials_df = pd.DataFrame(financials, columns=['date','EBITDA','totalCash','totalDebt', 'grossProfit',
                                                  'cashFlow','commonStock', 'totalAssets', 
                                                 'totalInvestingCashFlows', 'totalLiabilities','totalRevenue'])

financials_df['date'] = pd.to_datetime(financials_df['date'], unit='ms')

financials_df = financials_df.rename(columns={'date': 'Date',
                                              'totalCash': 'Total Cash',
                                              'totalDebt': 'Total Debt',
                                              'totalRevenue':'Total Revenue',
                                              'grossProfit': 'Gross Profit',
                                              'cashFlow': 'Cash Flow',
                                              'commonStock': 'Common Stock',
                                              'totalAssets': 'Total Assets',
                                              'totalInvestingCashFlows': 'Total Investment Cash Flow',
                                              'totalLiabilities': 'Total Liabilities',
                                              })

financials_df.style.format({
    'EBITDA': "${:,.2f}",
    'Total Cash': "${:,.2f}",
    'Total Debt': "${:,.2f}",
    'Total Revenue': "${:,.2f}",
    'Gross Profit': "${:,.2f}",
    'Cash Flow': "${:,.2f}",
    'Common Stock': "${:,.2f}",
    'Total Assets': "${:,.2f}",
    'Total Investment Cash Flow': "${:,.2f}",
    'Total Liabilities': "${:,.2f}"})

## Gamestop Stock Statistics

In [5]:
stat_query_url = url + '/stats?token=' + token
print(requests.get(stat_query_url))

<Response [200]>

In [6]:
response = requests.get(stat_query_url)
gme_stat = response.json()
gme_stats_df = pd.DataFrame([gme_stat]).set_index('companyName').drop(columns=['float', 'employees', 'ttmDividendRate',
                                                                              'dividendYield','nextDividendDate', 'exDividendDate',
                                                                              'nextEarningsDate'])
gme_stats_df

,marketcap,week52high,week52low,week52change,sharesOutstanding,avg10Volume,avg30Volume,day200MovingAvg,day50MovingAvg,ttmEPS,...,maxChangePercent,year5ChangePercent,year2ChangePercent,year1ChangePercent,ytdChangePercent,month6ChangePercent,month3ChangePercent,month1ChangePercent,day30ChangePercent,day5ChangePercent
companyName,,,,,,,,,,,,,,,,,,,,,
Gamestop Corporation,22667762000,347.51,2.8,83.635417,69746960,116211171,66441953,19.75,54.31,-4.23,...,34.267053,15.066759,28.78973,77.692494,16.250531,79.049261,26.706735,15.769866,15.874351,3.999231

## Gamestop Largest Trades

In [9]:
trade_query_url = url + '/largest-trades?token=' + token
print(requests.get(trade_query_url))

<Response [200]>

In [10]:
response = requests.get(trade_query_url)
gme_trade = response.json()
pd.DataFrame(gme_trade)

Empty DataFrame
Columns: []
Index: []

## GameStop Halt

In [12]:
halt_query_url = 'https://cloud.iexapis.com/stable/stats/op-halt-status?symbols=GME&token=' + token
print(requests.get(halt_query_url))

<Response [404]>